/*IREMOS TRABALHAR COM MEDIA QUERIES:
VAMOS CONHECER O CONCEITO DE TAMANHOS PARA DIVERSOS APARELHOS, OS TAMANHOS MAIS COMUNMENTE USADOS SÃO
Extra small (XS): Menos de 576 pixels. 
Small (SM): De 576 pixels até 767 pixels.
Medium (MD): De 768 pixels até 991 pixels.
Large (LG): De 992 pixels até 1199 pixels.
Extra large (XL): 1200 pixels ou mais

AGORA APRENDEREMOS A CRIAR UM LAYOUT QUE PERMITA QUE TODOS OS ELEMENTOS ESTEJAM BEM INSERIDOS 
INDEPENDENTE DO TAMANHO DA TELA*/

@media screen and (min-width: 200px) and (max-width: 767.98px) {
    /* Estilos para telas menores que 576 pixels */
    p, li{
        font-size: 20px;
    }

    .title {
        font-size: 25px;
        font-weight: bold;
    }

    img {
        width: 90%;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    h2, h3, h4 {
        font-size: 25px;
    }

    .content {
        background-color: rgb(255, 249, 249);
    }

    aside {
        text-align: start;
        padding: 10px;
    }

    li{
        list-style: none;
        margin: 10px;
        color: purple;
        font-weight: 800;
    }

    main {
        width: 80%;
        margin: auto;
        padding: 20px;
        text-align: start;
        line-height: 1.5;
    }
  }
  
  /* Medium (MD) */
  @media screen and (min-width: 768px) and (max-width: 1900px) {
    p, li{
        font-size: 20px;
    }

    section h2 {
        font-size: 3rem;
        padding: 10px;
    }

    .title {
        font-size: 25px;
        font-weight: bold;
    }

    img {
        width: 80%;
        height: 60vh;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        margin: 20px;
    }

    h2, h3, h4 {
        font-size: 25px;
    }

    .content {
        background-color: rgb(255, 249, 249);
    }

    aside {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: rgba(41, 40, 40, 0.075);
        color: black;
        height: 70vh;
        width: 15%;
        border-radius: 10px;
    }

    aside ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
    }

    aside ul li{
        list-style: none;
        font-size: 20px;
        margin: 10px;
        color: black;
        font-weight: 800;
        padding: 10px;
        transition: background-color 0.3s ease;
        border-radius: 5px;
    }

    aside ul li:hover{
        background-color: rgb(0, 0, 0);
        color: white;
    }

    

    main {
        width: 80%;
        padding: 20px;
        text-align: start;
        line-height: 1.5;
    }

    .principal-content{
        display: flex;
        flex-direction: row;
        align-items: start;
    }
  }
